{
    "root": true,
    "plugins": [
        "prettier",
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "prettier",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "prettier/prettier": 2,
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
    },
    "env": {
        "node": true,
        "es6": true
    }
}